/* CSS for OS Page */
.classes {
  padding: 12rem 9% 2rem;  /* Leave space for fixed header */
  display: flex;
  min-height: auto; /* Adjusted to fit content */
  flex-direction: column;

  margin-left: auto;   /* center horizontally */
  margin-right: auto;  /* center horizontally */
  text-align: left;    /* keep text inside aligned left */  
}

.classes h1 { /* Page Title */
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.classes h2 { /* Section Titles */
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: underline;
  color: var(--primary-color)
}

.classes h3 { /* Subsection Titles */
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
}

#Reference { /* Reference Titles */
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: rgba(245,245,245,0.7);
}

.classes p {
  font-size: 1.7rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: rgba(245,245,245,0.7);
}

/* == Lists Styles == */

.classes ul,
.classes ol,
.bullets,
.numbers,
.circles,
.squares,
.none {
  padding-left: 2rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: rgba(245,245,245,0.7);
}

.bullets { list-style-type: disc; }
.circles { list-style-type: circle; }
.squares { list-style-type: square; }
.none { list-style-type: none; }
.numbers { list-style-type: decimal; }
